<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="purchaseItemType">
            <h2><span jhiTranslate="swhomeApp.purchaseItemType.detail.title">Purchase Item Type</span> {{purchaseItemType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="swhomeApp.purchaseItemType.name">Name</span></dt>
                <dd>
                    <span>{{purchaseItemType.name}}</span>
                </dd>
                <dt><span jhiTranslate="swhomeApp.purchaseItemType.parent">Parent</span></dt>
                <dd>
                    <div *ngIf="purchaseItemType.parent">
                        <a [routerLink]="['/purchase-item-type', purchaseItemType.parent?.id, 'view']">{{purchaseItemType.parent?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/purchase-item-type', purchaseItemType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
